.buck_main{
    color:antiquewhite;
}
.buck_content{
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    flex-direction: column;

}
.bucket_list_box{
    padding:24px;
    padding-top:35px;
    justify-content: space-around;
    margin: 30px 20px 20px 0;
    width: 100%;
    height:100%; 
    background: #07121E 0% 0% no-repeat padding-box;
    border: 3px solid #2e2a2a;
    border-radius: 19px;
    opacity: 1;
}
.crt_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.crt_btn button {
    padding: 0.5rem 1rem;
    color:#fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight:500;
    font-size:18px;
    border-radius: 5px;
    border:none;
    outline:0;
    cursor:pointer;
}
.or_p{
    color:white;
    font-size: large;
}

.bucket-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
}


tbody{
    min-width: 100%;
}