.profile_main {
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    width: 100%;
    height: 100vh;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile_content {
    padding-left: 60px;
    padding-right: 60px;
}

.user_tab {

    display: flex;
    flex-direction: row;
    margin: 30px 20px 20px 0;
    width: 100%;
    height: 120px;
    /* UI Properties */
    background: #07121E 0% 0% no-repeat padding-box;
    border: 3px solid #2e2a2a;
    border-radius: 19px;
    opacity: 1;

}

.user_icon {
    width: 15%;

}

.user_info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: left;

    width: 60%;

}

.user_info h3 {
    margin-bottom: 0px;
}

.wallet_bal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.amt{
    font-size: 42px;
    color:rgb(223, 201, 82);
}

.portfolio {

    margin: 30px 20px 20px 0;
    width: 100%;
    background: #07121E 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 19px;
    opacity: 1;
    padding:50px;

    display: flex;
    flex-direction: column;
}
.portfolio_content{
    display: flex;
    flex-direction: column;
    

}
.port_heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
h3{
    margin-top:0px;
    padding-top: 20px;
}
.port_list{
    display: flex;
    flex-direction: row;
}

th{
    font-weight: bolder;
    text-align: left;
}

.buckets {
    margin: 30px 20px 20px 0;
    width: 100%;
    background: #07121E 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 19px;
    opacity: 1;
    padding:50px;

    display: flex;
    flex-direction: column;
}

.shashi{
    padding-left: 3em;
}